.accountInfoOverview {
  text-align: left;
  width: max(200px, 30%);
}

.accountInfoInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.invalidHighlight,
.invalid:focus {
  background-color: #f48484;
  outline-color: #820000;
}
