.edit-button svg {
    pointer-events: none;
}

.edit-button {
    border: none;
    color: #13005A;
    position: absolute;
    height: 25px;
    right: 0;
    text-align: center;
    top: 5px;
    width: 25px;
}

.edit-button:hover {
    background-color: #a8a0a0 !important;
}