.education-input-overview {
    display: flex;
    flex-direction: column;
    width: max(50%, 400px)
}

.education-input-overview form {
    width: 60%;
}

.education-input-overview fieldset div {
    display: flex;
    flex-direction: column;
}

.education-input-overview fieldset {
    display: grid;
    gap: 10px;
    grid-template: repeat(2, 1fr) auto auto / repeat(2, 1fr);
    padding: 0 20px;
}

input[type=text],
input[type=date] {
    border: none;
    color: #13005A;
    letter-spacing: 2px;
    padding: 2px 3px;
}

label {
    font-weight: bold;
}

.span-two {
    grid-column: span 2;
}

.certificate-input-container {
    position: relative;
}

.certificate-input {
    margin-bottom: 5px;
}

.new-certificate-button {
    bottom: -40px;
    color: #13005A;
    position: absolute;
    height: 30px;
    text-align: center;
    width: 30px;
}

.invalid-highlight,
.invalid:focus {
    background-color: #F48484;
    outline-color: #820000;
}