.educationInputOverview {
  display: flex;
  flex-direction: column;
  width: max(50%, 400px);
}

.educationInputOverview form {
  width: 60%;
}

.educationInputOverview fieldset div {
  display: flex;
  flex-direction: column;
}

.educationInputOverview fieldset {
  display: grid;
  gap: 10px;
  grid-template: repeat(2, 1fr) auto auto / repeat(2, 1fr);
  padding: 0 20px;
}

input[type='text'],
input[type='date'] {
  border: none;
  color: #13005a;
  letter-spacing: 2px;
  padding: 2px 3px;
}

.educationInputOverview label {
  font-weight: bold;
}

.spanTwo {
  grid-column: span 2;
}

.certificateInputContainer {
  position: relative;
}

.certificateInput {
  margin-bottom: 5px;
}

.newCertificateButton {
  bottom: -40px;
  border: none;
  color: #13005a;
  position: absolute;
  height: 30px;
  text-align: center;
  width: 30px;
}

.newCertificateButton:hover {
  background-color: #a8a0a0 !important;
}

.invalidHighlight,
.invalid:focus {
  background-color: #f48484;
  outline-color: #820000;
}
