.avatar-edit-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.avatar-edit-overview label {
    background-color: #ffefef;
    color: #13005A;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.avatar-edit-overview label:hover {
    background-color: #a8a0a0 !important;
}

.avatar-edit-overview input[type=file] {
    display: none;
}