.cvTemplateHeadlines {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cvTemplateHeadlines p,
.cvTemplateHeadlines p span {
  letter-spacing: 20px;
  text-align: center;
}

.cvTemplateHeadlines p:first-of-type {
  font-size: 52px;
}

.cvTemplateHeadlines p:last-of-type {
  font-size: 32px;
}

.bold {
  font-weight: bold;
}
