.experienceInputOverview {
  display: flex;
  flex-direction: column;
  width: max(50%, 400px);
}

.experienceInputOverview form {
  width: 60%;
}

.experienceInputOverview fieldset div {
  display: flex;
  flex-direction: column;
}

.experienceInputOverview fieldset {
  display: grid;
  gap: 10px;
  grid-template: repeat(2, 1fr) auto auto / repeat(2, 1fr);
  padding: 0 20px;
}

input[type='text'],
input[type='date'],
textarea {
  border: none;
  color: #13005a;
  letter-spacing: 2px;
  padding: 2px 3px;
}

label {
  font-weight: bold;
}

legend {
  font-weight: bold;
  margin: 0 10px;
  padding: 0 10px;
}

.spanTwo {
  grid-column: span 2;
}

textarea {
  max-height: 400px;
  min-height: 45px;
  resize: vertical;
}

.invalidHighlight,
.invalid:focus {
  background-color: #f48484;
  outline-color: #820000;
}
