header {
  align-items: center;
  background-color: #fff;
  color: #13005a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

header h1 {
  text-align: center;
}

.active {
  animation: nav-pulse 3s infinite;
}
