*, body, a, ul, li {
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.page-layout {
    background-color: #13005A;
    color: #ffefef;
    min-height: 100vh;
}