@font-face {
    font-family: "nobile";
    src: url('./fonts/nobile-regular-webfont.woff') format('woff'),
        url('./fonts/nobile-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "nobile";
    src: url('./fonts/nobile-bold-webfont.woff') format('woff'),
        url('./fonts/nobile-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

*, body, a, ul, li {
    color: inherit;
    list-style: none;
    font-family: "nobile", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

.page-layout {
    background-color: #13005A;
    color: #ffefef;
    min-height: 100vh;
}

header {
    align-items: center;
    background-color: #fff;
    color: #13005A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

header h1 {
    text-align: center;
}

header > nav {
    border-bottom: 1px solid #13005A;
    padding-bottom: 5px;
    width: 100%;
}

header ul {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

header .active {
    animation: nav-pulse 3s infinite;
}

main {
    display: grid;
    height: calc(100vh - 143px);
    place-content: center;
    overflow: none auto;
}

footer {
    background-color: #fff;
    bottom: 0;
    color: #13005A;
    padding: 5px 10px 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer-link {
    border-top: 1px solid #13005A;
    padding-top: 10px;
    width: calc(100vw - 20px);
}

footer i {
    margin-right: 5px;
}

.avatar {
    border: 3px solid #ffefef;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* multi-use component styles */

.save-button-container {
    text-align: center;
}

.save-button-container .save-button {
    background-color: #ffefef;
    border-radius: 5px;
    color: #13005A;
    font-weight: bold;
    margin: 20px;
    padding: 3px 5px;
}

.save-button-container p {
    height: 20px;
}

/* you tab styles */
.you-page-overview,
.avatar-edit-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.you-page-overview {
    width: max(100%);
}

.avatar-edit-overview label {
    background-color: #ffefef;
    border-radius: 5px;
    color: #13005A;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.avatar-edit-overview input[type=file] {
    display: none;
}

.account-info-overview {
    text-align: left;
    width: max(200px, 30%);
}

.account-info-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-info-input label {
    font-weight: bold;
}

.account-info-input input[type=text] {
    color: #13005A;
    letter-spacing: 2px;
    padding: 2px 3px;
}

@keyframes nav-pulse {
    0% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(1.4)
    }

    100% {
        transform: scale(1.2)
    }
}