.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.modal .modal-form-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    left: 0;
    justify-content: center;
    padding: 40px 20px;
    position: absolute;
    right: 0;
}

.modal .modal-form-container label,
.modal .modal-form-container legend {
    color: #13005A;
}

.modal .modal-form-container button {
    background-color: #13005A;
    color: #fff;
}

.modal input {
    border: 1px solid #13005A
} 

.modal .confirm-container button {
    background-color: #ffefef;
    border: none;
    color: #13005A;
    font-weight: bold;
    padding: 3px 5px;
    min-width: 80px;
}