.template-container {
    align-items: center;
    display: flex;
}

.template-container .create-template-btn {
    background-color: #ffefef;
    border: none;
    color: #13005A;
    font-weight: bold;
    padding: 3px 5px;
    min-width: 80px;
    width: auto;
}

.create-template-btn:hover {
    background-color: #a8a0a0 !important;
}