.welcomeContainer {
  display: flex;
  flex-direction: column;
  width: max(50%, 400px);
}

.welcomeContainer h1 {
  margin-bottom: 20px;
  text-align: center;
}

.welcomeContainer p {
  line-height: 30px;
  text-align: justify;
}

.welcomeContainer p:not(:last-of-type) {
  margin-bottom: 20px;
}
