nav {
    border-bottom: 1px solid #13005A;
    padding-bottom: 5px;
    width: 100%;
}

ul {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

li.active {
    animation: nav-pulse 3s infinite;
}

/**************/
/* animations */
/**************/

@keyframes nav-pulse {
    0% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(1.4)
    }

    100% {
        transform: scale(1.2)
    }
}