@font-face {
    font-family: "nobile";
    src: url('./fonts/nobile-regular-webfont.woff') format('woff'),
        url('./fonts/nobile-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "nobile";
    src: url('./fonts/nobile-bold-webfont.woff') format('woff'),
        url('./fonts/nobile-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

*, body, a, ul, li {
    color: inherit;
    list-style: none;
    font-family: "nobile", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

button i {
    pointer-events: none;
}

.page-layout {
    color: #ffefef;
    min-height: 100vh;
}

header {
    align-items: center;
    background-color: #fff;
    color: #13005A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

header h1 {
    text-align: center;
}

header > nav {
    border-bottom: 1px solid #13005A;
    padding-bottom: 5px;
    width: 100%;
}

header ul {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

header .active {
    animation: nav-pulse 3s infinite;
}

main {
    align-items: center;
    background-color: #13005A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 49px;
    min-height: calc(100vh - 192px);
    padding-top: 40px;
}

footer {
    background-color: #fff;
    bottom: 0;
    color: #13005A;
    padding: 5px 10px 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer-link {
    border-top: 1px solid #13005A;
    padding-top: 10px;
    width: calc(100vw - 20px);
}

footer i {
    margin-right: 5px;
}

.avatar {
    border: 3px solid #ffefef;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/******************************/
/* multi-use component styles */
/******************************/

.banner {
    width: 100%;
}

.save-button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.save-button-container .save-button,
.template-container .create-template-btn,
.modal .confirm-container button,
.reset-data-button {
    background-color: #ffefef;
    color: #13005A;
    font-weight: bold;
    padding: 3px 5px;
    min-width: 80px;
}

.home-page-overview,
.education-page-overview,
.experience-page-overview,
.you-page-overview,
.avatar-edit-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

input[type=text],
input[type=date],
textarea {
    border: none;
    color: #13005A;
    letter-spacing: 2px;
    padding: 2px 3px;
}

button {
    border: none;
}

.delete-button,
.edit-button {
    color: #13005A;
    position: absolute;
    height: 25px;
    right: 0;
    text-align: center;
    width: 25px;
}

.delete-button {
    top: 35px;
}

.edit-button {
    top: 5px;
}

.hover-button:hover {
    background-color: #a8a0a0 !important;
}

/**************************/
/* input component styles */
/**************************/

.education-input-overview,
.education-page-overview > .education-list-overview,
.experience-input-overview,
.experience-page-overview > .experience-list-overview,
.welcome-container {
    display: flex;
    flex-direction: column;
    width: max(50%, 400px)
}

.education-list-overview,
.experience-list-overview {
    width: 100%;
}

.education-input-overview form,
.experience-input-overview form {
    width: 60%;
}

.education-input-overview fieldset div,
.experience-input-overview fieldset div {
    display: flex;
    flex-direction: column;
}

.education-input-overview fieldset,
.experience-input-overview fieldset {
    display: grid;
    gap: 10px;
    grid-template: repeat(2, 1fr) auto auto / repeat(2, 1fr);
    padding: 0 20px;
}

label {
    font-weight: bold;
}

.education-input-overview fieldset .save-button,
.experience-input-overview fieldset .save-button {
    margin-bottom: 10px;
}

.span-two {
    grid-column: span 2;
}

textarea {
    max-height: 400px;
    min-height: 45px;
    resize: vertical;
}

/*************************/
/* list component styles */
/*************************/

.list-item-headline {
    font-size: 20px;
    font-weight: bold;
}

.list-item-dates {
    font-style: italic;
    margin-bottom: 5px;
}

.list-item {
    position: relative;
    margin: 10px 0;
    padding-right: 30px;
    width: 100%;
}

.education-page-overview .list-item,
.experience-page-overview .list-item {
    width: calc(100% - 30px)
}

.education-page-overview .list-item:not(:first-of-type),
.experience-page-overview .list-item:not(:first-of-type) {
    border-top: 1px solid #ffefef;
}

legend {
    font-weight: bold;
    margin: 0 10px;
    padding: 0 10px;
}

/************************/
/* education tab styles */
/************************/

.education-input-overview fieldset div:nth-of-type(1) {
    margin-top: 0;
}

.education-input-overview fieldset .save-button-container {
    grid-column: 1 / 3;
    height: min-content
}

.certificate-input-container {
    position: relative;
}

.certificate-input {
    margin-bottom: 5px;
}

.new-certificate-button {
    bottom: -40px;
    color: #13005A;
    position: absolute;
    height: 30px;
    text-align: center;
    width: 30px;
}

/******************/
/* you tab styles */
/******************/

.you-page-overview {
    width: max(100%);
}

.avatar-edit-overview label {
    background-color: #ffefef;
    /* border-radius: 5px; */
    color: #13005A;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.avatar-edit-overview label:hover {
    background-color: #a8a0a0 !important;
}

.avatar-edit-overview input[type=file] {
    display: none;
}

.reference-input-overview,
.account-info-overview {
    text-align: left;
    width: max(200px, 30%);
}

.account-info-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.reference-input-overview,
.reference-input-overview div {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.reset-data-button {
    margin-bottom: 20px;
}

/*******************/
/* home tab styles */
/*******************/

.welcome-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.welcome-container p {
    line-height: 30px;
    text-align: justify;
}

.welcome-container p:not(:last-of-type) {
    margin-bottom: 20px;
}

.template-container {
    align-items: center;
    display: flex;
}

.template-container .create-template-btn {
    width: auto;
}

/***************/
/* cv template */
/***************/

.bold {
    font-weight: bold;
}

.cv-template-overview {
    column-gap: 20px;
    display: grid;
    width: max(75%, 400px);
    grid-template-columns: 330px 1fr;
    row-gap: 10px;
}

.cv-template-overview p,
.cv-template-overview span {
    letter-spacing: 2px;
}

.cv-template-avatar {
    align-items: center;
    display: flex;
    justify-content: end
}

.cv-template-headlines {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cv-template-headlines p,
.cv-template-headlines p span {
    letter-spacing: 20px;
    text-align: center;
}

.cv-template-headlines p:first-of-type {
    font-size: 52px;
}

.cv-template-headlines p:last-of-type {
    font-size: 32px;
}

.cv-template-extras {
    border-right: 2px solid #fff;
    grid-area: 2 / 1 / span 2 / 2 ;
    padding-right: 5px;
}

.cv-template-extras p {
    margin-top: 10px;
    text-align: right;
}

.cv-template-extras > div:nth-of-type(2) {
    margin-top: 30px;
}

.cv-template-list-title {
    border-bottom: 2px solid #fff;
    font-size: 24px;
}


/**********/
/* modals */
/**********/

.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.modal .modal-form-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    left: 0;
    justify-content: center;
    padding: 40px 20px;
    position: absolute;
    right: 0;
}

.modal .modal-form-container label,
.modal .modal-form-container legend {
    color: #13005A;
}

.modal .modal-form-container button {
    background-color: #13005A;
    color: #fff;
}

.modal .modal-form-container .modal-close-button {
    background-color: inherit;
    border: none;
    color: #13005A;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal .confirm-container {
    align-items: center;
    color: #13005A;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.modal p {
    text-align: center;
}

.modal input {
    border: 1px solid #13005A
} 

/************/
/* validity */
/************/

.invalid-highlight,
.invalid:focus {
    background-color: #F48484;
    outline-color: #820000;
}

/**************/
/* animations */
/**************/

@keyframes nav-pulse {
    0% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(1.4)
    }

    100% {
        transform: scale(1.2)
    }
}