.referenceInputOverview,
.referenceInputOverview div {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.referenceInputOverview {
  text-align: left;
  width: max(200px, 30%);
}

.invalidHighlight,
.invalid:focus {
  background-color: #f48484;
  outline-color: #820000;
}