.reference-input-overview,
.reference-input-overview div {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.reference-input-overview {
  text-align: left;
  width: max(200px, 30%);
}
