.save-button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.save-button-container .save-button {
    background-color: #ffefef;
    border: none;
    color: #13005A;
    font-weight: bold;
    padding: 3px 5px;
    min-width: 80px;
}

.save-button-container .save-button:hover {
    background-color: #a8a0a0 !important;
}

.education-input-overview fieldset .save-button,
.experience-input-overview fieldset .save-button {
    margin-bottom: 10px;
}

.education-input-overview fieldset .save-button-container {
    grid-column: 1 / 3;
    height: min-content
}

.modal .modal-form-container button {
    background-color: #13005A;
    color: #fff;
}