.cvTemplateExtras {
  border-right: 2px solid #fff;
  grid-area: 2 / 1 / span 2 / 2;
  padding-right: 5px;
}

.cvTemplateExtras p {
  margin-top: 10px;
  text-align: right;
}

.cvTemplateExtras > div:nth-of-type(2) {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}
